.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}

.portfolio__item{
    background: var(--color-white);
    border-radius: 2rem;
    transition: var(--transition);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



/* .portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
} */

.portfolio__item-image{
    border-radius: 2rem;
    overflow: hidden;

}

.item__desc{
    padding: 1.5rem;
}

.item__desc h3{
    color:var(--color-bg);
    margin-bottom: 0.5rem;
}

.item__desc p{
    color:var(--color-bg);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
     
   }

@media screen and (max-width: 600px) {
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

   }